<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/admin::head('后台管理_系统')">
</head>
<link rel="stylesheet" th:href="@{/admin/css/common.css}">
<link rel="stylesheet" th:href="@{/admin/css/system.css}">
<body>
<div class="h-100 d-flex">
    <div th:replace="admin/sider::sider('system',${session.user})"></div>

    <div class="main flex-grow-1">
        <div th:replace="admin/header::header(${session.user})"></div>
        <div class="system mt-5 ml-5 mr-5">
            <div class="admin mb-3">
                <h5 class="title">用户管理</h5>
                <div class="body">
                    <button class="btn btn-success" id="insert" data-toggle="modal" data-target="#myModal">
                        <img src="../icon/insert.png" th:src="@{/icon/insert.png}" alt="">
                        <span>新增</span>
                    </button>
                    <button class="btn btn-info" id="update" data-toggle="" data-target="#myModal">
                        <img src="../icon/update.png" th:src="@{/icon/update.png}" alt="">
                        <span>修改</span>
                    </button>
                    <button class="btn btn-danger" id="delete">
                        <img src="../icon/delete.png" th:src="@{/icon/delete.png}" alt="">
                        <span>删除</span>
                    </button>
                    <div class="user-list mt-2" th:fragment="list" id="list">
                        <table class="table table-hover table-bordered text-center">
                            <thead>
                            <tr class="t-header">
                                <th>
                                    <input type="checkbox" id="all">
                                </th>
                                <th>
                                    <span>头像</span>
                                </th>
                                <th>
                                    <span>用户名</span>
                                </th>
                                <th>
                                    <span>权限</span>
                                </th>
                                <th>
                                    <span>创建时间</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">
                                <td>
                                    <input type="checkbox" name="checkbox" th:id="${user.id}"
                                           th:username="${user.name}" th:password="${user.password}"
                                           th:role="${user.role}">
                                </td>
                                <td>
                                    <img th:src="${user.photo==null}?@{/admin/img/user/favicon.ico}:@{${user.photo}}">
                                </td>
                                <td>
                                    <span th:text="${user.name}" class="d-inline-block"></span>
                                </td>
                                <td>
                                    <span th:text="${user.role==null}?'默认':${user.role}"
                                          class="d-inline-block"></span>
                                </td>
                                <td>
                                    <span th:text="${user.createTime.toLocalDate()}+'   '+${user.createTime.toLocalTime()}"
                                          class="d-inline-block"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="links mt-5">
                <h5 class="title">链接</h5>

                <div class="body">
                    备案号: <span th:text="${icp}"></span>
                </div>
            </div>
        </div>
        <div th:replace="admin/footer::footer"></div>
    </div>
</div>

<div id="modal">

    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">用户新增/修改</h4>
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form id="adminInfo">
                        <label for="adminName" class="mt-2">用户名:</label>
                        <input id="adminName" name="name" class="form-control" placeholder="请输入用户名">
                        <label for="adminPassword" class="mt-2">密码:</label>
                        <input id="adminPassword" name="password" type="password" class="form-control"
                               placeholder="请输入密码">
                        <label for="adminRole" class="mt-2">权限:</label>
                        <input id="adminRole" name="role" class="form-control" placeholder="请授予权限">
                        <label class="mt-2">
                            选择头像: <input type="file" id="pic" name="photo" accept="image/*">
                        </label>
                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="" id="confirm">确认</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/admin/js/alert.js}"></script>
<script th:src="@{/admin/js/sider.js}"></script>
<script th:src="@{/admin/js/system.js}"></script>
</body>
</html>