<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/admin::head('后台管理_标签')">
</head>
<link rel="stylesheet" th:href="@{/admin/css/common.css}">
<link rel="stylesheet" th:href="@{/admin/css/tag.css}">
<link rel="stylesheet" th:href="@{/plugins/jquery.tagsinput.min.css}">

<body>
<div class="d-flex">
    <div th:replace="admin/sider::sider('tag',${session.user})"></div>

    <div class="main flex-grow-1">
        <div class="d-flex flex-column warper">
            <div th:replace="admin/header::header(${session.user})"></div>

            <!--显示内容-->
            <div class="flex-grow-1 p-2">
                <div class="tag">
                    <div class="container-fluide  pl-3 pr-3 pb-2 pt-2">
                        <div class="card shadow flex-grow-1">
                            <div class="card-header">
                                <h5>标签管理</h5>
                            </div>

                            <div class="card-body">
                                <div class="operation">
                                    <a class="btn btn-success" href="javascript:void(0)" data-toggle="modal"
                                       data-target="#myModal">
                                        <img src="../icon/insert.png" th:src="@{/icon/insert.png}" alt="">
                                        <span>新增</span>
                                    </a>
                                    <a class="btn btn-danger" href="javascript:void(0)" id="delete">
                                        <img src="../icon/delete.png" th:src="@{/icon/delete.png}" alt="">
                                        <span>删除</span>
                                    </a>

                                    <input class="form-control w-auto d-inline" type="text" name="search" id="search"
                                           placeholder="请输入标签名称" th:value="${search!=null}?${search}">
                                    <button type="submit" class="btn btn-primary ml-1" id="submit">
                                        <img src="../icon/search.png" th:src="@{/icon/search.png}" alt="">
                                        <span>搜索</span>
                                    </button>
                                </div>
                                <div id="updateTag">
                                    <div th:fragment="updateTag">
                                        <div class="mytable mt-2">
                                            <table class="table table-hover table-bordered text-center">
                                                <thead>
                                                <tr class="t-header" id="all">
                                                    <th>
                                                        <input type="checkbox">
                                                    </th>
                                                    <th>
                                                        <span>标签名称</span>
                                                    </th>
                                                    <th>
                                                        <span>创建时间</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="tag:${tags}">
                                                    <td>
                                                        <input type="checkbox" name="checkbox" th:id="${tag.id}">
                                                    </td>
                                                    <td>
                                                        <span th:text="${tag.name}" class="d-inline-block"></span>
                                                    </td>
                                                    <td>
                                                        <span th:text="${tag.createTime.toLocalDate()}+' '+${tag.createTime.toLocalTime()}"
                                                              class="d-inline-block"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:replace="admin/page::page('tag')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--新增模态框-->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>新增标签</span>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        <input class="form-control" type="text" name="tags" id="tags">
                    </div>

                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">返回</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">确认</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script th:src="@{/admin/js/alert.js}"></script>
<script th:src="@{/admin/js/sider.js}"></script>
<script th:src="@{/plugins/jquery.tagsinput.min.js}"></script>
<script th:src="@{/admin/js/tag.js}"></script>
</html>