<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的空间</title>
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">
    <link rel="stylesheet" th:href="@{/front/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/front/css/space.css}"/>
    <script th:src="@{/plugins/jquery.min.js}"></script>
</head>
<body>
<!-- 导航栏 -->
<div th:replace="front/index::header"></div>

<div class="my-space">
    <div class="content">
        <div class="info">
            <div class="email">
                <img th:src="@{/front/img/email.png}" alt="">
                <a href="https://email.163.com/">farccaway@163.com</a>
            </div>
            <div class="gitee">
                <img th:src="@{/front/img/gitee.png}" alt="">
                <a href="https://gitee.com/ddsplanet">https://gitee.com/ddsplanet</a>
            </div>
            <div class="github">
                <img th:src="@{/front/img/github.png}" alt="">
                <a href="https://github.com/chendsheng">https://github.com/chendsheng</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>