.article .card .card-body .mytable{
    border-top: 3px solid #0d82ff;
    height: 680px;
    overflow: auto;
}
.article .card .card-body{
    height: 825px;
}
.article .operation input {
    transform: translateY(8%);
}
.article .operation img {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    transform: translateY(-7%);
}
.article .operation a {
    margin-right: 5px;
}
.article #updateArticle tr>td,
.article tr>th{
    vertical-align: middle;
}
