@media screen and (max-width: 750px) {
    .index .icon {
        display: none;
    }
    .index .inner {
        margin: 0 auto;
        text-align: center;
    }
}
.index container-fluid {
    background-color: #f4f6f9;
}
.index .head {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(97, 93, 93, 0.26);
}
.index .icon {
    width: 110px;
    height: 110px;
}
.index div>img {
    vertical-align: bottom;
    opacity: .4;
    width: 90px;
    height: 90px;
}
.index a {
    display: block;
    width: 100%;
    background-color: rgba(29, 28, 28, 0.1);
    position: absolute;
    bottom: 0;
}
.index a,
.index a:hover,
.index a:active {
    text-decoration: none;
}
.index a:hover {
    background-color: rgba(90, 89, 89, 0.3);
}
.index a img {
    width: 20px;
    height: 20px;
}
