<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onestep.dao.TagMapper">
    <cache/>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from tag
    </select>

    <select id="selectTagList" resultType="com.onestep.entity.Tag">
        select * from tag
        <where>
            <if test="column!=null and value!=null">
                ${column} like concat('%',#{value},'%')
            </if>
        </where>
    </select>
    <select id="selectTagByName" resultType="com.onestep.entity.Tag">
        select *
        from tag
        where name = #{name};
    </select>
    <select id="selectTagsByNames" resultType="com.onestep.entity.Tag">
        select * from tag where name in
        <foreach collection="array" item="name" close=")" open="(" separator=",">
            #{name}
        </foreach>
    </select>
    <select id="selectTagsByArticleId" resultType="com.onestep.entity.Tag">
        select tag.*
        from tag
                 left join article_tag on tag.id = article_tag.tag_id
        where article_tag.article_id = #{articleId}
    </select>
    <select id="selectTags" resultType="com.onestep.entity.Tag">
        select *
        from tag
    </select>
    <select id="selectTagById" resultType="com.onestep.entity.Tag">
        select *
        from tag
        where id = #{tagId}
    </select>

    <insert id="batchInsertTagByName">
        insert into tag(name)
        VALUES
        <foreach collection="list" item="name" separator=",">
            (#{name,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <delete id="batchDeleteTagById">
        delete from tag where id in
        <foreach collection="list" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>
</mapper>